body{
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
.content{
	margin-top:48px;
	margin-left:50px;
	margin-right:auto;
	width:780px;
	border:#333 1px solid;
	border-radius:12px;
	padding:12px;
	display:none;
}

<head>

<style type="text/css">
	.content{
		margin-top:48px;
		margin-left:50px;
		margin-right:auto;
		width:780px;
		border:#333 1px solid;
		border-radius:12px;
		padding:12px;
		display:none;
	}
</style>
</head>